{% extends "forms/form.html" %}

{% block page_title %}Add Skills{% endblock page_title %}

{% block title %}Skills{% endblock title %}

{% block form_title %}Skills{% endblock form_title %}

{% block form_url %}{% url "skill" %}{% endblock form_url %}

{% block another_button %}
   
{% endblock another_button %}

{% block continue_url %}{% url 'language' %}{% endblock continue_url %}

{% block cancel_button %}Back{% endblock cancel_button %}

{% block cancel_url %}{% url "work-experience" %}{% endblock cancel_url %}
