{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock page_title %}

{% block body %}

<div class="row justify-content-center m-5">
    <div class="col-4">
        <h1 class="text-center text-primary">Sign In - <span class="text-muted">Ispani</span> </h1>
        <div class="card border-primary m-3">
            <div class="card-header text-center"><i class="fa-solid fa-right-to-bracket fa-lg"></i> Sign In</div>
            <div class="card-body">
                <form action="{% url "dologin" %}" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="d-grid gap-2">
                        <button class="btn btn-lg btn-primary" type="submit"><i class="fa-solid fa-right-to-bracket fa-lg"></i> Sign In </button>
                    </div>
                    <div class="text-dark m-4 text-center">
                        <a href="{% url "password_reset" %}">Fogort Password?</a><br>
                        Don't have account? Register <a href="{% url "sign-up" %}">Here</a>
                    </div>
                </form>
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <h4 class="alert alert-danger m-4">{{message}}</h4>
                    {% else %}
                        <h4 class="alert alert-success m-4">{{message}}</h4>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

<footer class="text-center">
    <span class="mt-auto">Copyright 2023 - <script>document.write(new Date().getFullYear())</script> | Thabethe Programming, All rights reserved.</span>
  </footer>
{% endblock body %}