{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block page_title %}Password Reset{% endblock page_title %} 

{% block body %}
    <div class="row justify-content-center m-3">
        <div class="col-8">
            <h1>Forgot Password?</h1><br>
            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-4">

            <div class="card border-secondary">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url "dologin" %}" class="btn btn-primary"><i class="fa-solid fa-xmark"></i> Cancel</a>

                    </form>
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <h4 class="alert alert-danger m-4">{{message}}</h4>
                        {% else %}
                            <h4 class="alert alert-success m-4">{{message}}</h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>

{% endblock body %}
