{% extends "index.html" %}

{% load crispy_forms_tags %}

{% block page_title %}Sign Up{% endblock page_title %} 

{% block body %}
    <h1 class="text-light m-2">Sign Up</h1>
    <hr>
    <div class="row justify-content-center m-3">
        <div class="col-6">
            <div class="card border-secondary">
                <div class="card-body">
                    <form action="{% block form_url %}{% endblock form_url %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-primary">Create Account</button>
                        <a href="{% url "dologin" %}" class="btn btn-primary"><i class="fa-solid fa-xmark"></i> Cancel</a>

                    </form>
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <h4 class="alert alert-danger m-4">{{message}}</h4>
                        {% else %}
                            <h4 class="alert alert-success m-4">{{message}}</h4>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>

{% endblock body %}
