@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

body,
button {
  font-family: "Inter", sans-serif;
}

#offcanvasExample{
    width:270px
}
#navbar{
    width: calc(100%-270px);
    margin-left: 270px;
    height: 80px;
}
#main-content{
    margin-top: 10px;
    margin-left: 280px;
}

@media (min-width:992px) {
    body{
        overflow: none;
    }
    .offcanvas-backdrop::before {
        display: none;
    }
    #offcanvasExample{
        visibility: visible;
        transform: none;

    }
}